<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tony.android.thesecondfruitvalestation">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="The Fruitvale Station"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DalyCityActivity"
            android:label="Daly City"/>
        <activity android:name=".DublinPleasantonActivity"
            android:label="Dublin Pleasanton"/>
        <activity android:name=".RichmondActivity"
            android:label="Richmond"/>
        <activity android:name=".WarmSpringsActivity"
            android:label="Warm Springs"></activity>
    </application>

</manifest>